* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
  /* background: red; */

  font-size: 12px;
}
#header {
  z-index: 100;
}
nav {
  height: 10vh;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  transform: translateZ(5px);
  z-index: 100;
}
.shadow-3 {
  /* -webkit-box-shadow: 0px 17px 22px 11px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 17px 22px 11px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 17px 22px 11px rgba(0, 0, 0, 0.25); */
}

main {
  position: relative;
}
section {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: min-content;
  grid-column-gap: 3vw;
  border-left: white 3vw solid;
  border-right: white 3vw solid;
}
.font-body {
  font-family: "Montserrat", sans-serif;
}
.font-head {
  font-family: "Raleway", sans-serif;
}
.pt-100 {
  padding: 70px 9px 0px 9px;
  margin-top: -49px;
}
#overview {
  z-index: 6;
}
#products {
  grid-column: 1/2;
  z-index: 5;
}
#stock {
  /* overflow: scroll; */
  grid-column: 2/3;
  grid-row: 1/2;
  /* height: 100px; */
  /* grid-row: 2/3; */
  z-index: 4;
}
#reviews {
  grid-column: 2/3;
  grid-row: 2/4;
  z-index: 3;
}

#careers {
  grid-column: 1/2;
  z-index: 2;
}
.backHighlight {
  animation: highlightBackground 1s;
}
@keyframes highlightBackground {
  0% {
    background: #ffffff;
  }
  50% {
    background: #ddddddcb;
  }
  100% {
    background: #ffffff;
  }
}
#accordion .card {
  margin-top: 3px;
}
#accordion .card,
.w-30 > .card {
  border: #4e0000cb;
}
#accordion .card-body,
.w-30 .card-body {
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.596);
}
.card-head {
  /* margin-top: 9px; */
  padding-left: 3px;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  -webkit-box-shadow: inset 0px 3px 3px 0px #000000bf;
  -moz-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
}

#accordion .card:hover,
.w-30 .card:hover {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5);
  transform: translateZ(1px);
}
.card-body {
  font-size: 0.8rem;
  padding: 1.5rem;
  font-family: "Raleway", sans-serif;

  /* font-family: "Montserrat", sans-serif; */
}
.table > table {
  font-size: 0.8rem;
}
.table td {
  padding-top: 0.75rem;
  padding-bottom: 0;
}
/* .table > table > tr > td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
} */
.redRow:hover {
  color: rgb(231, 38, 38);
  background: #e0dbdb69;
  cursor: pointer;
}
.greenRow:hover {
  color: rgb(50, 201, 130);
  background: #e0dbdb69;
  cursor: pointer;
}
.blueRow:hover {
  color: rgb(1, 4, 151);
  background: #e0dbdb69;
  cursor: pointer;
}
td > .external {
  display: none;
}

.card-header-div {
  color: #fff;
}
.card-header {
  /* margin-top: 3px; */
  background: #4e0000cb;
}
.card-header-div:hover {
  /* color: #ddd; */
}

.comp-btn-area {
  display: flex;
  flex-direction: row-reverse;
}
.open-comp-btn {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0.5px 0.5px 2px 0px rgba(0, 0, 0, 0.75);
  padding: 0 6px;
  border: 2px solid #cccbcb;
}
.open-comp-btn > a {
  text-decoration: none;
  color: black;
}
.open-comp-btn:hover {
  background: #d7e8ba;
  border: 2px solid #c6e494;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  transition: box-shadow 0s;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.progress {
  width: 200px;
  margin-top: 3px;
}
.progress-bar {
  background: #343a40;
}
.progress-bar:hover {
  background: #4e0000cb;
  cursor: pointer;
}
.progress:hover {
  background-color: #e9e1e1d7;
  transition: background-color 0.3s;
}
.fa-star {
  font-size: 0.7rem;
}
.fa-star-o {
  font-size: 0.7rem;
}
.rating-color {
  color: #610000de;
}
.five {
  width: 40%;
  display: flex;
  flex-direction: column-reverse;
}
.four {
  width: 25%;
}
.three {
  width: 10%;
}
.two {
  width: 15%;
}
.one {
  width: 10%;
}
.review-slide {
  font-size: 0.8rem;
  /* height: 455px; */
  /* width: ; */
}

.w-30 {
  width: 220px;
  /* margin-top: 10px;
  margin-left: 10px; */
  margin-bottom: 6px;
  transition: order 5s;
  order: 10;
}
.h7 {
  font-size: 0.8rem;
  font-weight: 590;
}
.joblists {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-gap: 5px; */
  justify-content: space-between;
  flex-wrap: wrap;
}

/* scrollbar */

.scrollbar {
  margin: 15px auto;
  width: 300px;
  background: #f5f5f5;
  overflow-x: scroll;
  margin-bottom: 24px;
}

.scrollbar > img {
  margin: 9px;
  height: 300px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4e0000cb;
}

.shiftwidth {
  width: 100px;
  /* transition: width 5s; */
}
.img-slider {
  height: 25vh;
  overflow: hidden;
  background: #161d24ee;
}
.slider {
  height: 25vh;
}
@media (max-width: 786px) {
  section {
    display: block;
    border: none;
  }
  .scrollbar {
    width: 100%;
    margin: auto;
  }
  #collapsibleNavbar {
    -webkit-box-shadow: inset 0px 3px 3px 0px #000000bf;
    -moz-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    /* box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.75); */
    margin-top: 5px;
    z-index: -1;
  }
  .navbar-nav {
    z-index: -1;
  }
}
@media (max-width: 1105px) {
  .joblists {
    justify-content: space-around;
  }
  .img-slider {
    margin-top: 48px;
  }
}
@media (min-width: 768px) {
  #collapsibleNavbar {
    height: 100%;
  }
}
